{% extends "encyclopedia/layout.html" %}

{% block title %} Create New Page {% endblock %}

{% block body %}
<h1>Create New Page</h1>
    <hr>

<form method="post">
    {% csrf_token %}
    <div class="input-container {% if error %} error {% endif %}">
        <input type="text" name="title" placeholder="Title" value="{{title_input|default:''}}">
        <span> {{ error }}</span>
    </div>
    <button type="submit">Publish</button>
    <textarea name="content" id="content" placeholder="Write the entry content here using markdown language">{{content_input|default:''}}</textarea>
</form>

{% endblock %}